# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Ignore data outputs (optional)
data/output/users.db
